name: CDGitops

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          # platforms: linux/amd64,linux/arm64
          tags: ${{ secrets.DOCKER_USERNAME }}/gitops:${{ github.sha }}, ${{ secrets.DOCKER_USERNAME }}/gitops:latest

      - name: Setup Kustomization
        uses: imranismail/setup-kustomize@v1
        with:
          kustomize-version: "4.5.7"

      - name: Update Kustomization image
        run: |
          cd k8s
          kustomize edit set image gitops=${{ secrets.DOCKER_USERNAME }}/gitops:${{ github.sha }}

      - name: Commit and Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -am "Bump docker version"

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          repository: jaksonlima/argocd
